<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" type="text/css" href="main.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
function UpdateStatus() {
	$.ajax({
				url : '/api/mapdata/',
				method : 'POST',
				dataType : 'json',
				async : true,
				cache : false,
				timeout : 5000,
				success : function(response) {
					console.log(response);
					response.forEach(function(response) {
						var marker = L.marker([response.lat, response.lng]).addTo(mymap);
						marker.bindPopup(response.name);
					});
				},
				error : function(XMLHttpRequest, textStatus, errorThrown) {

				}
			});
};
</script>
<script type="text/javascript">
	google.charts.load('current', {
		'packages' : [ 'bar' ]
	});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		$.ajax({
			method : "GET",
			url : "/chart"
		})
				.done(
						function(response) {
							var array = JSON.parse(response);
							var data = google.visualization
									.arrayToDataTable(array);

							var options = {
								chart : {
									title : 'Betegségek',
									subtitle : 'Számosság',
								}
							};

							var chart = new google.charts.Bar(document
									.getElementById('columnchart_material'));

							chart.draw(data, google.charts.Bar
									.convertOptions(options));
						});

	}
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link th:replace="fragments/map.html :: mapcss" />
<script th:replace="fragments/map.html :: mapscript" ></script>
<title>EpideMap - Főoldal</title>
</head>
<body onload="UpdateStatus()">
	<nav th:replace="fragments/navigation.html :: navigation"></nav>
	<div class="flex-container">
		<div th:replace="fragments/map.html :: map"></div>
		<div th:replace="fragments/chart.html :: chart"></div>
	</div>
</body>
</html>