<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>EpideMap - Táblázat</title>
</head>
<body>
	<nav th:replace="fragments/navigation.html :: navigation"></nav>
	<div class="container">
		<table class="table table-striped">
			<caption>Betegségek</caption>
			<thead>
				<tr>
					<th scope="col">Hely</th>
					<th scope="col">Betegség</th>
					<th scope="col">Mutáció</th>
					<th scope="col">Nem</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="d : ${diseases}">
					<td th:text="${d.place}">Hely</td>
					<td th:text="${d.name}">Betegség</td>
					<td th:text="${d.mutation}">Mutáció</td>
					<td th:text="${d.gender}">Nem</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>